img {
     margin-top: 100px;
     margin-bottom: 100px;
     margin-right: 100px;
     margin-left: 80px;
}
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  body {
    color: #566b78;
  }
  footer {
    background: #7FB6EE;
    border-bottom: 1px solid #021538;
    color: #485573;
  }

  h1,
  h2,
  strong {
    color: #A00B0B;
  }

  .different {
      font-size: 30px }
  }

  p {
     padding-top: 50px;
     padding-right: 30px;
     padding-bottom: 50px;
     padding-left: 80px;
} 

header { 
    background-color: #25DEF2;
}

#fancy {
    font-style: bold;
} 
